.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 14, 64, 0.7);
  pointer-events: none;

  &-active {
    pointer-events: all;
    opacity: 1;
  }
}
