@use '../utility/' as u;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  margin-inline: auto;
  padding-top: 15px;
  text-align: center;

  &__title {
    font-family: u.$fontNeon;
    font-size: 4.2rem;
  }
}
