@use '../utility' as u;

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0;
  align-items: center;

  &__title {
    margin: 0;
  }

  &__nav {
    display: flex;
    padding-inline: 0.5rem;
  }

  &__btn {
    background: none;
    border: none;
    font: inherit;
    color: inherit;

    &:hover {
      scale: 125%;
    }
  }
}
