.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0;

  &__title {
    margin-bottom: 0;
  }

  &__btn {
    background: none;
    border: none;
    font: inherit;
    color: inherit;

    &:hover {
      scale: 125%;
    }
  }
}
